##Collaborative Filtering : Debashish Malakar

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('views.csv')
df2 = pd.read_csv('users.csv',index_col = '_id')
df1 = pd.read_csv('posts.csv',index_col = '_id')
#df.head()

In [48]:
z = np.array(df['timestamp'])
ts = [1 for i in z]
df.insert(3,"ts",ts)
df.head()

                    user_id  ... ts
0  5df49b32cc709107827fb3c7  ...  1
1  5ed3748576027d35905ccaab  ...  1
2  5ed0defa76027d35905cc2de  ...  1
3  5ed0defa76027d35905cc2de  ...  1
4  5ed0defa76027d35905cc2de  ...  1

[5 rows x 4 columns]

In [49]:
rec = df.pivot_table(index= 'post_id',columns='user_id',values = 'ts').fillna(0)
rec.head()

user_id                   5d60098a653a331687083238  ...  5ed3e898bd514d602c1530de
post_id                                             ...
5d62abaa65218653a132c956                       1.0  ...                       0.0
5d6d39567fa40e1417a4931c                       1.0  ...                       0.0
5d7d23315720533e15c3b1ee                       0.0  ...                       0.0
5d7d405e5720533e15c3b1f3                       0.0  ...                       0.0
5d80dfbc6c53455f896e600e                       0.0  ...                       0.0

[5 rows x 118 columns]

In [0]:
from scipy.sparse import csr_matrix
rec_matrix = csr_matrix(rec.values)
from sklearn.neighbors import NearestNeighbors

In [51]:
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(rec_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [0]:
def post_id(query_index):
  distances, indices = model_knn.kneighbors(rec.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)
  x= []
  for i in range(0, len(distances.flatten())):
    x.append(rec.index[indices.flatten()[i]])

  x.remove(x[0])
  return(x)

In [0]:
def post_recommend(df1,rec,query_index,x):
  print('Recommendations for post id {0}'.format(rec.index[query_index]))
  print(df1.loc[rec.index[query_index]].head())
  print("*************************************************************************************")
  df1 = pd.read_csv('posts.csv',index_col = '_id')
  return df1.loc[x]

In [0]:
rec2 = df.pivot_table(index= 'user_id',columns='post_id',values = 'ts').fillna(0)
rec2_matrix = csr_matrix(rec2.values)

In [55]:
model_knn1 = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn1.fit(rec2_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [0]:
def user_id(query_index2):
  distances2, indices2 = model_knn1.kneighbors(rec2.iloc[query_index2,:].values.reshape(1, -1), n_neighbors = 6)
  y= []
  for i in range(0, len(distances2.flatten())):
    y.append(rec2.index[indices2.flatten()[i]])

  y.remove(y[0])
  return y

In [0]:
def user_post_id(df,rec2,query_index2,y):
  post_ = []
  for i in y:
    post_list = []
    post = df.loc[df['user_id'] == i]
    post2 = post['post_id']
    a = np.array(post2)
    post_.append(a)
  user = df.loc[df['user_id'] ==rec2.index[query_index2]]
  user_post = user['post_id']
  b = np.array(user_post)
  c = []
  for j in post_:
    for i in j:
      if i in b:
        continue
      else:
        c.append(i)
  c = c[0:5]
  return c

In [0]:
def user_recommend(df2,df1,rec2,c,query_index2):
  print('Recommendations for user id {0}'.format(rec2.index[query_index2]))
  print(df2.loc[rec2.index[query_index2]].head())
  print("*************************************************************************************")
  #df1 = pd.read_csv('posts.csv',index_col = '_id')
  return df1.loc[c]

##Post-based Recommendation

In [59]:
post = input('Enter post_id : ')
count1 = 0
for i in rec.index:
  if i == post:
    break
  else:
    count1+=1
query_index = count1
rec.index[query_index]
post_recommend(df1,rec,query_index,post_id(query_index))

Enter post_id : 5ed1ff0276027d35905cc60d
Recommendations for post id 5ed1ff0276027d35905cc60d
title         AWS services and how to launch OS on AWS Cloud
category                 Computer Technology|Cloud Computing
 post_type                                              blog
Name: 5ed1ff0276027d35905cc60d, dtype: object
*************************************************************************************

                                                                      title  ...  post_type
_id                                                                          ...
5ecf96e876027d35905cbf46                                      GAN's Part(2)  ...       blog
5ecf23b87023451e66223944                               Keep working hard !!  ...    artwork
5ed3820f76027d35905ccac8  Configure Docker with Django; PostgreSQL; Pg-a...  ...       blog
5ecfa0ca76027d35905cbf57                 Recommend Systems Machine Learning  ...       blog
5ed0e20776027d35905cc2fe  Here are 7 of my favourite books that I've rea...  ...       blog

[5 rows x 3 columns]

##User-based Recommendation

In [60]:
user = input('Enter user_id : ')
count2 = 0
for i in rec2.index:
  if i == user:
    break
  else:
    count2+=1
query_index2 = count2
rec2.index[query_index2]
user_recommend(df2,df1,rec2,user_post_id(df,rec2,query_index2,user_id(query_index2)),query_index2)

Enter user_id : 5d9a2982979d5962253c2f81
Recommendations for user id 5d9a2982979d5962253c2f81
name         Nischaya Sharma
gender                  male
academics      undergraduate
Name: 5d9a2982979d5962253c2f81, dtype: object
*************************************************************************************

                                                           title  ...  post_type
_id                                                               ...
5ed13d2876027d35905cc4c2              Launching an EC2 instance.  ...      skill
5ecce8a5eaff6b0c3a58a5e9              The Waves Have Stood Still  ...    artwork
5ecd5d417023451e662235c5  Machine Learning”&“Operations" (MlOps)  ...       blog
5ecc186aeaff6b0c3a58a53f                              Beliefs ❣️  ...    artwork
5ecc1d4eeaff6b0c3a58a565                       Faith in yourself  ...    artwork

[5 rows x 3 columns]